# Here's my cute first ever Jupyter notebook in Watson.

It's not actually as cute as the OG jupyter notebooks.

Look how cute this issss

In [1]:

import types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.
client_f0d8402a48fe4b3996022281db28cc4c = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='oN00Cdd6Mm75I4fyKwGT0V11B939-yAk2tZycPPp0Dha',
    ibm_auth_endpoint="https://iam.cloud.ibm.com/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3.ap-geo.objectstorage.service.networklayer.com')

body = client_f0d8402a48fe4b3996022281db28cc4c.get_object(Bucket='myfirstproject-donotdelete-pr-ftbdeui0huepsl',Key='rainfall.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_1 = pd.read_csv(body)
df_data_1.head()

,Name,Measure,1900,1901,1902,1903,1904,1905,1906,1907,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Palmerville,Actual,626.9,943.9,716.8,1766.8,1238.7,511.2,1271.3,1205.0,...,1215.8,1310.2,1672.0,NaN,810.4,1166.8,736.6,715.2,829.4,667.6
1,Palmerville,Moving average,1024.7,1010.8,993.6,1100.0,1077.2,1035.6,1050.2,1059.0,...,NaN,1092.5,1123.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Burketown Post Office,Actual,357.4,839.5,187.6,1292.7,765.0,263.0,458.9,813.4,...,659.2,1159.4,1840.5,1586.2,740.2,616.7,1002.4,761.1,702.2,1074.0
3,Burketown Post Office,Moving average,800.7,716.6,702.7,803.2,686.6,652.3,632.5,633.5,...,854.0,884.9,870.9,977.7,988.8,993.9,1014.9,1035.7,975.8,1014.2
4,Cairns Airport,Actual,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2215.2,2199.4,2659.8,2623.2,2003.4,1268.6,1826.6,1906.4,1406.4,1688.6